<div class="center hero-unit">

	<% if user_signed_in? %>
		
	    <h1>Bienvenido <%=@user.name %>!</h1>
		<br>
		<h2>Existen <%= @info_requests.count %> solicitudes de información</h2>
		<br>
		<%= link_to "Crear nueva solicitud",  new_info_request_path, 
                                class: "btn btn-large btn-primary" %>

		<div><%= render partial: 'shared/info_request_table' %></div>

		<div id = "ird_table"><%= render partial: 'shared/info_request_detail' %></div>
       
		

	<% else %>
		<%= redirect_to root_path %>
	<% end %>
	
</div>
